/*
Autor: Neftali Acosta
URL: https://neftaliacosta.com
Powered by: GubyNetwork
URL: https://gubynetwork.com
Verison 1.0
*/


body{
	background-color: #f1f1f1;
}

/*mybody-> Clase para el contenido del sitio*/
.mybody{
	background-color:#FFFFFF;
	color:#000000;
	padding: 0px!important;
}

/*Inicio fix menú*/
.navbar-default {
    border-color: transparent!important;
    padding: 0px!important;
    background-image:none;
    -webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;

}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent;
}

.navbar-default .navbar-nav>li>.item {
    background-color:rgba(0, 112, 187, 0.8)!important;
}
.navbar-default .navbar-nav>li>a{
	color: #000000!important;
	font-size: 22px;
	font-family: 'Montserrat', sans-serif;
}
.navbar-default .navbar-nav>li>a:hover {
    color: #ffffff!important;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 5px;
}
/*Fin fix menu*/
@media (max-width: 800px) {
	.mynav{
	position: absolute!important;
	background-color: transparent!important;
	margin-left: 0px!important;
	right: 0px;
	margin-right: 3%
} 
}
@media (min-width: 1200px) {
.mynav{
	position: absolute!important;
	background-color: transparent!important;
	margin-left: 0px!important;
	right: 0px;
	margin-right: 5%
} 
}

@media (min-width: 1600px) {
	.mynav{
	position: absolute!important;
	background-color: transparent!important;
	margin-left: 0px!important;
	right: 0px;
	margin-right: 12%
}
}
@media (min-width: 1900px) {
	.mynav{
	position: absolute!important;
	background-color: transparent!important;
	margin-left: 0px!important;
	right: 0px;
	margin-right: 20%
}
}
.lmenu li.item{
	background-color: rgba(0, 112, 187, 0.8);
	margin-left: 5px;
	margin-right: 5px;
	font-weight: bold;
	color:#000000!important;
}
.lmenu li.item:hover{
	/*background-color: #FFFFFF!important;*/
	color: #ffffff!important;
}

.separador{
	height: 5px;
	background-color: #f1f1f1;
}

#item6, #item7{
	margin-top: -10px;
}
#item6 img, #item7 img{
	width: 95%;
}

/*soluciones*/

.soluciones{
	/*background-image: url('../img/Soluciones.png');*/
	background-size: 100% 100%;
	height: auto;
	padding-right: 30px;
	padding-left: 90px;
	padding-top: 50px;
}

.soluciones img{
	cursor: hand;
	cursor: pointer;
}


/*Contactanos*/
.pestaña{
	position: absolute;
	max-width:4%;
	margin-top:105px;
	margin-left: -90px;
} 
.pestañas{
	max-width:4%;
	position: absolute;
	margin-top:0px;
	margin-left: -90px;
}
.contactanos{
	/*background-image: url('../img/PestContactanos.png');*/
	background-repeat: no-repeat;	
	background-color: #0070bb;
	padding-right: 30px;
	padding-left: 90px;
	font-family: 'Montserrat', sans-serif;
}

#pcontacto{
	position: absolute;
	padding-top: 50px;
}
#tcontacto{
	color: #FFFFFF;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
	font-weight: bold;
}

.contactanos a #btnenviar{
	margin:0 auto;
	width: 15%;
}

#msj{
	color:#ffffff;
	font-size: 18px;
	text-align: center;
}
/*Seccion de Widgets*/

.widget{
	margin-top: 50px;
	padding: 20px;
}

.widget h2{
	text-align: center;
	font-weight: bold;
	color:#383a43;
}

.google-maps {
position: relative;
padding-bottom: 75%; // This is the aspect ratio
height: 0;
overflow: hidden;
}
.google-maps iframe {
position: absolute;
top: 0;
left: 0;
width: 100% !important;
height: 100% !important;
}

.widget p{
	color:#383a43;
	font-size: 17px;
}
span#guad{
	font-size: 30px;
	font-weight: bold;
	color:#383a43;
	cursor: hand;
	cursor: pointer;
}
span#mty{
	font-size: 30px;
	font-weight: bold;
	color:#0070bb;
	cursor: hand;
	cursor: pointer;
}

/*Footer*/

.footer{
	font-size: 17px;
	background-color:#000000;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #ffffff;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
}
.footer p{
	font-family: 'Montserrat', sans-serif;
}
.footer a{
	 font-family: 'Montserrat', sans-serif;
	 color:#FFFFFF;
}
span#firma{
	color:gray;
}


/*Barra de Carga*/

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #29d;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}

/*Boton Top*/
.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: #0070bb url(../img/cd-top-arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}
.no-touch .cd-top:hover {
  background-color: #0070bb;
  opacity: 1;
}
@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 60px;
    width: 60px;
    right: 30px;
    bottom: 30px;
  }
}
